---
layout: markdown_page
title: "Quality Department"
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Child Pages

#### [On-boarding](/handbook/engineering/quality/onboarding)
#### [Guidelines](/handbook/engineering/quality/guidelines)
##### [Test Engineering](/handbook/engineering/quality/guidelines/test-engineering)
##### [Triage Operations](/handbook/engineering/quality/guidelines/triage-operations)
#### [Project Management](/handbook/engineering/quality/project-management)

## Vision

Ensure that GitLab consistently releases high-quality software across the growing suite of products, developing software at scale without sacrificing quality, stability or velocity.
The quality of the product is our collective responsibility. The quality department makes sure everyone is aware of what the quality of the product is, empirically.

To execute on this, we categorize our vision into the following areas.

### Culture of Quality

Ensure a culture of quality early on in the development process.
  * Review product requirements and designs to identify risk and steer the team on quality strategy.
  * Partner with all engineering teams to ensure that our products have testability built in that can be leveraged by the test infrastructure.
  * Be a champion for better software design, promote proper testing practices and bug prevention strategies.

Create a timely feedback loop on Quality.    
  * Use the data from test results to improve test gaps in our test suites.
  * Conduct test gap analysis from bugs that are filed by GitLab users.
  * Be a sounding-board for our end users and non-engineering stakeholders by integrating their feedback on quality into the development process.

### Test Automation Expertise

Own and build out test automation frameworks and infrastructure.
  * Own and expand end-to-end automated testing framework [GitLab QA].
  * Own and build functional performance tests.
  * Own and build third-party service testing capabilities.
  * Own and build our Continuous Integration & Delivery test pipelines.

Continuously improve GitLab test coverage, reliability and efficiency.
  * Groom the [test pyramid](https://martinfowler.com/bliki/TestPyramid.html) coverage and ensure that the right tests run at the right place.
  * Improve on the duration and de-duplication of the GitLab test suites.
  * Improve stability by eliminating flaky tests and transient failures.
  * Improve test results tracking and reporting mechanisms that aid in triaging test results.
  * Coach developers (internal & external) on contributing to [GitLab QA] test scenarios.

Continuously improve the release process where Quality is a stakeholder.
  * Eradicate obstacles in the release process.
  * Ensure that we have a repeatable and consistent Quality process for every release.

### Engineering Productivity

* Make metrics-driven suggestions to improve engineering processes, velocity, and throughput.
* Build productivity tooling to help speed up development efforts.
* Build automated tools to ensure the consistency and quality of the codebase and merge request workflow.

## Quality Engineering Teams

##### [Dev QE team](dev-qe-team)
##### [Ops & CI/CD QE team](ops-qe-team)
##### [Secure & Enablement QE team](secure-enablement-qe-team)
##### [Engineering Productivity team](engineering-productivity-team)

### Department members

<%= stable_counterparts(role_regexp: /(Test Automation|Engineering Productivity|Quality Engineering)/, direct_manager_role: 'Director of Quality Engineering') %>

## Team retrospective

The Quality team holds a once-a-month asynchronous retrospective.
The process is automated and notes are captured in [Quality retrospectives](https://gitlab.com/gl-retrospectives/quality/) (GITLAB ONLY)

## Release process overview

Moved to [release documentation](https://gitlab.com/gitlab-org/release/docs/).

## Test Automation Framework

The GitLab test automation framework is distributed across three projects:

* [GitLab QA], the test orchestration tool.
* The scenarios and spec files within the GitLab codebase under `/qa` in both GitLab [CE] and [EE].

### Architecture overview

See the [GitLab QA Documentation](https://gitlab.com/gitlab-org/gitlab-qa/blob/master/docs)
and [current architecture overview](https://gitlab.com/gitlab-org/gitlab-qa/blob/master/docs/architecture.md).

### Installation and execution

* Install and set up the [GitLab Development Kit](https://gitlab.com/gitlab-org/gitlab-development-kit)
* Install and run [GitLab QA] to kick off test execution.
  * The spec files (test cases) can be found in the [GitLab CE/EE codebase](https://gitlab.com/gitlab-org/gitlab-ce/tree/master/qa)

## Other related pages

* [Issue Triage Policies](/handbook/engineering/issue-triage)
* [Performance of GitLab](/handbook/engineering/performance)
* [Monitoring of GitLab.com](/handbook/engineering/monitoring)
* [Production Readiness Guide](https://gitlab.com/gitlab-com/infrastructure/blob/master/.gitlab/issue_templates/production_readiness.md)

[GitLab QA]: https://gitlab.com/gitlab-org/gitlab-qa
[GitLab Insights]: https://gitlab.com/gitlab-org/gitlab-insights
[GitLab Triage]: https://gitlab.com/gitlab-org/gitlab-triage
[CE]: https://gitlab.com/gitlab-org/gitlab-ce
[EE]: https://gitlab.com/gitlab-org/gitlab-ee
