---
layout: markdown_page
title: "Community Relations"
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Our mission

## How we work

Our issue tracker:
- [Community Relations issues](https://gitlab.com/groups/gitlab-com/marketing/community-relations/-/issues)

Our handbooks:
- [Community Advocacy](/handbook/marketing/community-relations/community-advocacy/)
- [Code Contributor Program](/handbook/marketing/community-relations/code-contributor-program/)
- [Evangelist Program](/handbook/marketing/community-relations/evangelist-program/)
- [Open Source Program](/handbook/marketing/community-relations/opensource-program/)
- [Education Program](/handbook/marketing/community-relations/education-program/)

Our guidelines:
- TBD

Our calendar: 
- [Community Events](https://calendar.google.com/calendar/b/1?cid=Z2l0bGFiLmNvbV85MHQ1dWUxcThrYmpvcTViMHI5MW51N3J2Y0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t)

## Who we are

<%= direct_team(manager_role: 'Director of Community Relations') %>

## Where to find us

- [On the public Gitter room](https://gitter.im/gitlabhq/community)
- [On the internal Slack channel](https://gitlab.slack.com/messages/community-relations)
